@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {

    background-image: linear-gradient(to left,#006494,#59C3C3,#D1B1C8);
}

main {
     
    background-color: white;
    border-radius: 15px;
    width: 600px;
    padding: 10px;
    margin:auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);
}

p {
    text-align: justify;
}

h1{
text-shadow: 1px 1px 1px #5f0037c5;
text-align: center;
color: #920055c5;

}
h2{
    color: #080264cb;
}